.father {
  display: flex;
  /* Default direction */
  /* flex-direction: column; */

  /* Aligning items in main axis */
  justify-content: space-between;

  /* Aligning items in cross axis */
  /* align-items: center; */
  height: 100vh;
}

.child {
  background: peru;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 2rem;
}

/*
 Only align-self and order is permitted
 in a child within the flex
*/
.child:nth-child(1) {
  align-self: center;
  order: 2;
}

.child:nth-child(2) {
  /* align-self: flex-end; */
  order: 3;
}
